$size: 30vh
$position: calc(50% - #{$size}/2)
$hue: var(--hue)
$color: hsl($hue, 95%, 50%)

.loader
  position: relative
  animation: flix 3s ease-in infinite alternate

  &:before
    content: ''
    display: block
    font-size: 0
    width: $size
    height: $size
    background-color: #fff
    background-image: radial-gradient(circle calc(#{$size} * 0.25) at calc(#{$size} * 0.45) calc(#{$size} * 0.45), $color 100%, transparent 0), radial-gradient(circle calc(#{$size} * 0.3) at calc(#{$size} / 8) calc(#{$size} * 0.8), $color 100%, transparent 0), radial-gradient(circle calc(#{$size} * 0.29) at calc(#{$size} * 0.4) calc(-#{$size} * 0.12), $color 100%, transparent 0), radial-gradient(circle calc(#{$size} * 0.1) at calc(#{$size} * 0.8) calc(#{$size} * 0.4), $color 100%, transparent 0)
    border-radius: 50%
    animation: rotate 1s linear infinite

  &:after
    content: ''
    position: absolute
    top: 0%
    transform: translate(-50% , -100%)
    left: 50%
    width: calc(#{$size}/2)
    height: calc(#{$size}/4)
    background: #fff
    border-radius: 50px 50px 0 0

.done
  display: none !important

@keyframes flix
  0%, 60%
    transform: rotate(-10deg)
  100%, 30%, 80%
    transform: rotate(5deg)

@keyframes rotate
  100%
    transform: rotate(360deg)
