$white: #fff
$black: #111
$dark-grey: #4d4d4d
$medium-grey: #6f6f6f
$background-grey: #313131
$light-grey: #999

$font: 'Raleway','sans serif'
$body-size: 16px
$body-text: $white

$links: darken($white, 20%)
$links-hover: $white

$code-block: #000004